---
import SoundButton from "../components/SoundButton.astro";
import Layout from "../layouts/Layout.astro";
import { sounds } from "../static/sounds";

const colors = [
  "bg-[#fa0000]",
  "bg-[#ff01ff]",
  "bg-[#0000fc]",
  "bg-[#02ffff]",
  "bg-[#00fe00]",
  "bg-[#ffff01]",
  "bg-[#feaa00]",
  "bg-[#ff0100]",
];
---

<Layout
  title="DaftPunk Sound Buttons & Console"
  description="Simple sound & SFX buttons console for making DaftPunk Harder, Better, Faster, Stronger song."
>
  <div class="h-screen flex flex-col">
    <main
      class="mx-auto max-w-2xl w-full flex flex-col items-center p-2 gap-2 flex-1"
    >
      <h1 class="text-white font-bold font-mono text-4xl">DaftPunk Console</h1>
      <div class="grid flex-1 grid-cols-2 w-full gap-2">
        {
          sounds.map((sound, i) => (
            <SoundButton
              class:list={[colors[Math.floor(i / 2)]]}
              sound={sound}
            />
          ))
        }
      </div>
    </main>
    <footer
      class="w-full grid py-1 place-items-center text-zinc-200 bg-zinc-800"
    >
      <p>
        Built by <a href="https://github.com/arch-fan" class="underline"
          >@arch-fan</a
        >
      </p>
    </footer>
  </div>
</Layout>

<style>
  button {
    @apply rounded-lg text-white font-bold text-2xl transition-colors bg-opacity-50 hover:bg-opacity-80;
  }
</style>
